.container {
  width: auto;
  float: left;
  input {
    border: solid crimson;
    border-radius: 20px;
    width: 25%;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }

  label {
    display: inline;
    // font-size: 2.5vh;
  }
  .mr-1 {
    width: 5%;
  }
  .btn {
    border: solid;
    background: crimson;
    color: white;
    border-radius: 20px;
    font-size: 1em;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  .btn:hover {
    cursor: default;
    background: darkred;
  }
  .btn:disabled {
    background: crimson;
  }
}

@media screen and (max-width: 425px) {
  #feet {
     width: 35%;
   }
   #inch {
    width: 35%;
  }
  #strength {
    width: 35%;
  }
 }




